.header {
    background-color: black;
    padding: 1rem;
    color: white;
    height: 80px;
    position: fixed;
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 40px;
    position: relative;
    text-align: left;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
}

.navbar__submenu{
    position: absolute;
    background-color: black;
    display:none;
    top: 41px;
    width: 180px;
    transition: 300ms;
}

nav li:hover .navbar__submenu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.navbar__submenu li{
    padding: 6px;
    border-radius: 2px;
}

.navbar__submenu li:hover{
    background-color: hsl(210, 79%, 46%)
}

.navbar__item{
    font-size: 1.2rem;
    padding: 6px;
    border-radius: 2px;
    transition: 300ms;
}

.navbar__item:hover{
    background-color: hsl(210, 79%, 46%)
}